*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(250, 161, 176);
}

.container{
    text-align: center;
    left: 50%;
    top: 50%;
    font-size: 20px;
    font-family: 'didot';
    padding: 20px 0px;
    margin: 10px 10px;
    color: white;
    border-bottom: 1px solid #ccc;
}
.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.calculator{
    background: pink;
    padding: 10px;
}
.textView{
    width: 215px;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 22px;
    font-family: 'didot';
    margin: 3px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #fdfd;
}
.button:hover{
    box-shadow: 0px 0px 0px black;
    background: hotpink;
}
.equal{
    height: 110px;
}
.equal:hover{
    background: hotpink;
    color: white;
}
.zero{
    width: 110px;
}